<!DOCTYPE html> 
<html lang="en"> 
    <body>
        <main>
            <h1>oh no</h1>
            <a href="/">back 2 home</a>
        </main>
        <style>
            body {
            background-image: url(https://www.levelaccess.com/wp-content/uploads/2014/08/form-error.jpg);
            background-repeat: no-repeat; 
            background-size: cover;
            display:inline-block;
          }

          main {
              display: block;
              border: solid 15px rgb(79, 99, 91);
              border-radius: 8px;
              padding:25px;
              background-color: rgb(159, 196, 159);
          }
        </style>
        
    </body> 
    </html>
