<!DOCTYPE html> 
<html lang="en"> 
    <body>
        <main>
        <h1>awww yes members only</h1> 
        <a href="/">back 2 home</a>
        <h2>Logoff</h2>
        <a href="/logout">log Out</a>
        </main> 
        <style>
            body {
            background-image: url(https://probonoaustralia.com.au/wp-content/uploads/2017/04/community-group-with-hands-in-the-air-770.jpg);
            background-repeat: no-repeat; 
            background-size: cover;
            display:inline-block;
          }

          main {
              display: block;
              border: solid 15px rgb(79, 99, 91);
              border-radius: 8px;
              padding:25px;
              background-color: rgb(159, 196, 159);
          }
        </style>
    </body> 
    </html>
